{% extends 'dashboard.html.twig' %}

{% block title %}Categorie Management{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Categorie Management</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class="text-primary">
                        <tr>
                            <th>Id</th>
                            <th>Nomcat</th>
                            <th>Descriptioncat</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for categorie in categories %}
                            <tr>
                                <td>{{ categorie.id }}</td>
                                <td>{{ categorie.nomcat }}</td>
                                <td>{{ categorie.descriptioncat }}</td>
                                <td>
                                    <a href="{{ path('app_categorie_show', {'id': categorie.id}) }}" class="btn btn-sm btn-primary">Show</a>
                                    <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}" class="btn btn-sm btn-warning">Edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4" class="text-center">No records found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-end mt-3">
                <a href="{{ path('app_categorie_new') }}" class="btn btn-success">
                    <i class="tim-icons icon-simple-add"></i> Create New Categorie
                </a>
            </div>
        </div>
    </div>
{% endblock %}